* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    scroll-behavior: smooth;
    transition: 0.4s;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-family: 'roboto';
    font-weight: 900;
    padding: 30px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 90px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

#page1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 90vh;
}

#page2 {
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page3 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#page4 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#page5 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
}

.hello {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.hello h1 {
    padding-bottom: 20px;
}

.hello h2 {
    padding-bottom: 10px;
    font-size: 40px;
}

.hello img {
    width: 60%;
}

.hello b {
    color: #E61646;
    text-decoration: underline;
    cursor: pointer;
}

.scroll {
    padding-top: 3%;
}

#myBtnContainer {
    padding-top: 2%;
    padding-bottom: 1%;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.btn:hover {
    opacity: 1;
    transition: 0.4s;
}

.active {
    font-weight: 600;
    opacity: 1;
}

.gallery {
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.add {
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 100px;
}


ul#contactsheet {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

ul#contactsheet:after {
    content: '';
    display: block;
    flex-grow: 0;
    /* Don't justify/stretch last photo. 10 seems best */
}

#contactsheet li {
    height: 40vh;
    flex-grow: 1;
    margin: 0 .65rem .65rem 0;
    overflow: hidden;
    list-style: none;
}

#contactsheet img {
    max-height: 100%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    filter: grayscale(0%);
    transition-duration: 0.5s;

}

#contactsheet img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

#myBtnMore {
    padding-bottom: 35px;
}




/* Portrait: */
@media (max-aspect-ratio: 1 / 1) {
    #contactsheet li {
        height: 30vh;
    }
}

/* Short screens: */
@media (max-height: 480px) {
    #contactsheet li {
        height: 80vh;
    }
}

/* Smaller screens in portrait: */
@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    ul#contactsheet {
        flex-direction: row;
    }

    #contactsheet li {
        height: auto;
        width: 100%;
    }

    #contactsheet img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

@media only screen and (max-width: 1400px) {
    header {
        padding: 40px 50px;
    }

    .quote {
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px) {
    header {
        padding: 40px 50px;
    }

    .quote {
        font-size: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .quote {
        font-size: 25px;

    }

    .overlay .closebtn {
        top: 0px;
        right: 16px;
    }

    #contactsheet img:hover {
        filter: grayscale(0%);
        transform: scale(1.0);
    }
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;

}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;

    /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.challenge {
    padding: 10px;
}


.challenge h2 {
    font-size: 20px;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    border: solid #E61646;
    color: #E61646;
    border-radius: 100px;
    ;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #E61646;
    color: white;
}

.btn.active {
    background-color: #E61646;
    color: white;
}

.gallery {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}


.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 2px;
}

.arrows path {
    stroke: #E61646;
    fill: transparent;
    stroke-width: 3px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

#challengeList {
    margin-top: 80px;
    margin-bottom: 150px;
}

#challengeList h2 {
    font-size: 25px;
    margin-top: 5px;
}

.add {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.add h1 {
    margin-bottom: 50px;
}

.add h2 {
    font-size: 25px;
}

.add input {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 50px;
    border: #E61646 solid 3px;
    border-radius: 30px;
    padding: 20px;
    background-color: whitesmoke;
}

.add button {
    width: 35%;
    padding: 20px;
    border-radius: 30px;
    background-color: #E61646;
    border: none;
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
}

.inputs {
    width: 100%;
}

.edit {
    color: whitesmoke;
    background-color: #E61646;
    border: #E61646 2px solid;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.trash {
    color: whitesmoke;
    background-color: #E61646;
    border: #E61646 2px solid;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}


.show a {
    text-decoration: none;
    color: black;
}

.dogAlg {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    font-weight: 600;
    float: left;

}

.dogSpe {
    width: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 50px;
    font-weight: 600;
    float: left;

}

.dogAlg h1 {
    padding-bottom: 10px;
}

.dogAlg h2 {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
}

.dogAlg img {
    width: 80%;
    border: solid #E61646 5px;
    border-radius: 30px;
}

.dogSpe h1 {
    width: auto;
    padding-bottom: 10px;
    font-size: 30px;
}

.dogSpe h2 {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.dogSpe img {
    width: 80%;
    border: solid #E61646 5px;
    border-radius: 30px;
}

.dogSpe p {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    padding-bottom: 20px;
}

.dogSpe b {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 900;

}

.back a {
    text-decoration: none;
    color: #E61646;
    font-size: 20px;
    font-weight: 900;

}

.back {
    float: left;
    border: none;
    width: 18%;
    background-color: whitesmoke;
}

#faq {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-bottom: 100px;
    padding-top: 20px;
}

#page5 h1 {
    font-weight: 900;
    padding-bottom: 30px;
}

.accordion {
    background-color: #E61646;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: center;
    border: solid 1px white;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    color: whitesmoke;
}

.accordion h2 {
    font-size: 25px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 20px 18px;
    background-color: whitesmoke;
    text-align: center;
    display: none;
    overflow: hidden;
    width: 57.5%;
    transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 680px) {
    #page1 {

        height: 70vh;
    }

    .hello {
        margin-top: 30%;
    }

    .hello h2 {
        font-size: 25px;
    }

    .hello h1 {
        font-size: 30px;
    }

    .hello img {
        width: 100%;
    }

    .arrows {
        display: none;
    }

    h1 {
        font-size: 27px;
    }

    .column {
        width: auto;
    }

    .add input {
        width: 80%;
    }

    .add button {
        width: 95%;
    }

    .accordion {
        width: auto;
    }

    .dogAlg {
        width: 100%;
        text-align: center;
    }

    .dogSpe {
        width: 100%;
        text-align: center;

    }
}